
.task{
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    margin: 0 5px;
    border-radius: 100px;
    user-select: none;
    transition: all 0.2s ease-out;
    color: var(--onBackground);
}

.task:hover{
    cursor: pointer;
    background-color: var(--opacityHover);
    transition: all 0.2s ease-in;
}

.state{
    height: 20px;
    width: 20px;
    margin: auto 0 auto auto;
}

.active{
    color:var(--primary);
}
