
.task{
    display: flex;
    flex-direction: row;
    padding: 0 15px;
    margin: 0 5px;
    border-radius: 100px;
    user-select: none;
}

.task:hover{
    cursor: pointer;
    background-color: gray;
}

.state{
    height: 20px;
    width: 20px;
    margin: auto 0 auto auto;
}
