.card_tarea{
    border: 1px solid #eee;
    width: 48%;
    min-width: 300px;
    margin: 5px;
    border-radius: 15px;
    height: fit-content;
}

.card_tarea:hover{
    cursor: pointer;
    box-shadow: 1px 1px 3px gray;
}

.elements_container{
    display: flex;
    flex-direction: column;
}

.title_container{
    margin: 0px 15px;
    padding: 15px 10px;
    border-bottom: 1px solid red;
}

.title{
    width: 100%;
    margin:0;
}

.tasks_container{
    margin:5px
}
