.outsideModal{
    position:fixed;
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
}

.exitModal{
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 2;
    height: 40px;
    border-radius: 0 15px 0 15px;
    transform: translateY(-276px) translateX(-40px);
    transition: background-color 0.2s ease-out;
}

.exitModal:hover{
    background-color: gray;
    transition: background-color 0.2s ease-in;
}

.deleteTodo{
    position: relative;
    display: flex;
    cursor: pointer;
    z-index: 2;
    height: 40px;
    border-radius: 15px 0 15px 0;
    transform: translateY(-276px) translateX(-526px);
    transition: background-color 0.2s ease-out;
}

.deleteTodo:hover{
    color:rgb(255, 42, 42);
    background-color: gray;
    transition: background-color color 0.2s ease-in;
}

.containerModal{
    z-index: 1;
    height: 90%;
    width: 50%;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(235, 233, 233);
}

.containerComponentsModal{
    display: flex;
    flex-direction: column;
}